openpyxl==3.1.2
streamlit==1.20.0
pycairo
gtts==2.2.4
googletrans==3.1.0-alpha
Pillow==9.2.0
numpy==1.23.2
pandas==1.4.3
matplotlib==3.5.3
seaborn==0.12.2
plotly==5.10.0
missingno==0.5.2
scikit-learn==1.1.2


nltk
pip==23.1.2
